.each-slide-effect > div {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  padding: 0 20px 0 20px;
  height: 400px;
}
